<div class="content">
  <p>You recently requested a connection with <%= @connection_name %>.  Unfortunately, they must take a raincheck on this requested meeting.  Please visit <span id="tc">TechConnect</span> to send an email to another potential connection. </p>
</div>
