<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    body {background: #8FC9DB;}
      button {color: white; border-radius: 6px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); background: #8FC9DB; font-size: 12px;}
      .content {flex: 1; background-color: white; alignItems: center; justifyContent: center; margin: 30px; padding: 10px;}
      #tc {color: #FF69B4;}
      ul { list-style-type: none;}
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
